@import './fonts.css';

.expandable-table {
  .v-data-table__expanded.v-data-table__expanded__row {
    background-color: rgba(194, 214, 222, 0.5);
  }
}

.v-data-table-header {
  th {
    white-space: nowrap;
  }
}

//Overrides
input:-internal-autofill-selected {
  background-color: #ffffff !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  padding: 0 !important;
}

.coretrix__logo--text {
  font-family: 'zona';
  font-weight: 800;
  color: #161945;
  text-transform: uppercase;
  letter-spacing: 2px;
}
