// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// Text Input
$input-font-size: 14px;
$text-field-border-radius: 0;
$text-field-outlined-fieldset-border: 1px solid currentColor;

$text-field-dense-icon-append-prepend-margin-top: 4px;
$text-field-dense-prepend-append-margin-top: 4px;
$autocomplete-dense-enclosed-input-margin-top: 4px;
$text-field-append-prepend-margin: 4px;
$text-field-dense-append-prepend-margin: 4px;
$text-field-enclosed-prepend-append-margin-top: 4px;
$text-field-outlined-prepend-append-margin-top: 4px;
$text-field-single-line-prepend-append-margin-top: 4px;

$text-field-filled-full-width-outlined-slot-min-height: 40px !default;
$text-field-solo-control-min-height: 40px !default;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 32px !default;
$text-field-solo-dense-control-min-height: 32px !default;

//Selects
$select-chips-dense-selections-min-height: 32px;
$select-outlined-dense-selections-padding-top: 0;

//Buttons
$btn-border-radius: 4px;
$btn-text-transform: initial;
$btn-letter-spacing: initial;
$btn-font-weight: 600;
$btn-sizes: (
  'x-small': 24,
  'small': 24,
  'medium': 32,
  'default': 32,
  'large': 40,
  'x-large': 40,
);
$btn-font-sizes: (
  'x-small': 0.6875rem,
  'small': 0.6875rem,
  'default': 0.875rem,
  'large': 0.875rem,
  'x-large': 1.125rem,
);
$material-light: (
  'buttons': (
    'disabled': #565656,
    'focused': #ccc,
  ),
);
$material-dark: (
  'buttons': (
    'disabled': #565656,
    'focused': #ccc,
  ),
);

//Lists
$list-item-min-height: 32px;

//Pagination
$pagination-item-height: 30px;
$pagination-item-min-width: 30px;
$pagination-navigation-width: 30px;
$pagination-item-margin: 3px;
$pagination-item-font-size: 12px;

//Accordion
$expansion-panel-active-header-min-height: 48px;
$expansion-panel-header-font-size: 18px;
$expansion-panel-header-padding: 10px 15px 14px;
$expansion-panel-content-padding: 18px 15px 20px;

//Tables
$data-table-regular-row-height: 32px;
$data-table-regular-header-height: 32px;

// Tooltip
$tooltip-background-color: #fafafa;
$tooltip-text-color: #000;
